/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Colors */
:root {
  --white: #ffffff;
  --purple: #6b62ff;
  --blue_dark: #2f2e41;
  --gray_light: #f1f1f1;
}

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--blue_dark);
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 8rem;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.header {
  color: var(--blue_dark);
  padding: 50px;
  border-bottom: 1px solid var(--gray_light);
  text-align: center;
}

.socialItem {
  margin-right: 0.375rem;
}

.socials a:link {
  color: var(--gray_light);
  background-color: transparent;
  text-decoration: none;
}

.socials a:visited,
a:hover,
a:active {
  color: var(--blue_dark);
  background-color: transparent;
  text-decoration: none;
}

.booklogImg {
  border-radius: 10%;
  border: 1px solid var(--blue_dark);
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.imagesSlideshow {
  flex: 1;
  background-color: var(--gray_light);
  padding: 1rem;
  margin-left: 1.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
}

.cardGeneral {
  display: flex;
  padding: 1rem;
  border-radius: 0.3rem;
  overflow: hidden;
  flex-direction: column;
  align-items: baseline;
  background-color: var(--gray_light);
}

.cardStack {
  display: inline;
  align-items: baseline;
  margin-bottom: 1rem;
}

.cardStack h4,
ul,
li {
  margin: 0;
}

.cardInfo {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

@media (max-width: 40rem) {
  .cardInfo {
    display: inline;
  }
}

@media (max-width: 70rem) {
  .cardGeneral,
  .imagesSlideshow {
    width: 100%;
  }

  .cardGeneral {
    margin-bottom: 1.5rem;
  }

  .imagesSlideshow {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.cardInfo h4 {
  margin: 0;
  padding-right: 0.3rem;
}

.cardInfo p,
a {
  margin: 0;
  padding: 0;
}

.cardInfo a:link,
a:visited,
a:hover,
a:active {
  color: var(--blue_dark);
  background-color: transparent;
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--gray_light);
  text-align: center;
}
